<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 class="navbar-header">Live-Post</h1>
    
    <button class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navegacion-principal">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div    class="collapse navbar-collapse" 
            id="navegacion-principal">
        <ul class="navbar-nav align-items-center">
            <li class="nav-item">
                <a class="nav-link active" routerLink="post-list">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="post-add">Add Post</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right ml-auto align-items-center">
            <li class="nav-item">
                <a (click)="onSave()" class="nav-link active" routerLink="post-list">Save</a>
            </li>
            <li class="nav-item">
                <a (click)="onFetch()" class="nav-link active" routerLink="post-list">Fetch</a>
            </li>
            <li>
                <a routerLink="auth" class="nav-link active">Sign Up</a>
            </li>
            <li>
                <a routerLink="auth" class="nav-link active">Log In</a>
            </li>
        </ul>
    </div>
    
</nav>